<div  style="color:#aaa; text-align:center; width: 800px;">
  <h1> <%= @job.title %> </h1>

  <h3><%= @job.description %></h3>
  <p><%= @job.wage_lower_bound %></p>
  <p><%= @job.wage_upper_bound %></p>
  <p><%= @job.city %></p>
</div>

<div class="col-md-offset-4 col-md-2 col-md-offset-5">
  <%= link_to("Apply Now", new_job_resume_path(@job), :class => "btn btn-primary", :style => "font-size:30px; text-decoration:none;") %>
</div>
