<div  class="row" style="color:#aaa;margin-top:25px;">
  <div class="col-lg-8 col-lg-offset-2">
    <h1> <%= @job.title %> </h1>
    <hr />
    <div class="row">
      <div class="col-sm-9">
          <p class="description" style="text-align:left;">
            <%= @job.description %>
          </p>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>
            <p class="description"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @job.city %></p>
          </li>
          <li>
            <p class="description"><i class="fa fa-jpy" aria-hidden="true"></i> <%= @job.wage_lower_bound%> - <%= @job.wage_upper_bound%></p>
          </li>
          <li>
            <p class="description"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= @job.job_type %></p>
          </li>
          <li>
            <p class="description"><i class="fa fa-fire" aria-hidden="true"></i> <%= @job.resumes.count%> applicants</p>
          </li>
          <li>
            <p class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @job.contact_email %></p>
          </li>
          <li>
            <p class="description"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= local_relative_time(@job.created_at,type:'weekday-or-date') %></p>
          </li>
        </ul>
      </div>
  </div>
</div>
