<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">
                <div class='sidebar' style="background-color:rgba(200,200,200,0.1);margin-top:-20px;margin-bottom:20px;">
                    <h1 style="padding-top:20px;">Sidebar</h1>
                  <ul class='nav' style="padding-left:20px;">
                    <li>
                      <%= link_to("Admin All Jobs", admin_jobs_path ) %>
                    </li>
                    <li>
                      <%= link_to("Add a job", new_admin_job_path ) %>
                    </li>
                    <li>
                        <%= link_to("Jobs List", jobs_path ) %>
                    </li>
                    <li>
                      <%= link_to("Home", root_path ) %>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
            </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
